section

  section.sec-slide(data-background="#8e44ad")

    h1.white.upper What is it at all?

  section.sec-slide(data-background="#3f51b5")

    h1.white.upper xzibit in a nutshell

  section.sec-slide(data-background="#2196f3")

    p.white.upper ╭☞( ͡ ͡° ͜ ʖ ͡ ͡°)╭☞ it's a boilerplate of code to help you create presentations using cool kids' technologies.

    h2.white.fragment.upper Yeah!!!

  section.sec-slide(data-background="#cddc39")

    h1.white.upper Which cool kids' technologies?

  section.sec-slide(data-background="#ffeb3b")

    p.fragment Reveal.js
    p.fragment Jade
    p.fragment Stylus
    p.fragment Gulp
    p.fragment Browser Sync
    p.fragment ...
