section

  section.sec-slide(data-background="#f44336")

    h1.white.upper Oh, wait a minute...

  section.sec-slide(data-background="#8e44ad")

    h1.white.upper What kind of things can I put in my slides?

  // Math
  section.sec-slide(data-background="#3f51b5")

    h1.white.upper Math!

  section.sec-slide(data-background="#3f51b5")

    p Math like we did in the elementary school...

    $$-b \pm \sqrt{b^2 - 4ac} \over 2a$$

    p.fragment (Yeah, I do remember this.)

  section.sec-slide(data-background="#3f51b5")

    p Or maybe math we do these days...

    $$ \mathop{\int \!\!\! \int}_{\mathbf{x} \in \mathbf{R}^2}  \! \langle \mathbf{x},\mathbf{y}\rangle  \,d\mathbf{x} $$

  // Code
  section.sec-slide(data-background="#2196f3")

    h1.white.upper Code!

  section.sec-slide(data-background="#2196f3")

    p Code like we did when learning Haskell <3 ...

    pre.middle
        code.
          import Control.Parallel

          main = a `par` b `par` c `pseq` print (a + b + c)
              where
                  a = ack 3 10
                  b = fac 42
                  c = fib 34

          fac 0 = 1
          fac n = n * fac (n-1)

          ack 0 n = n+1
          ack m 0 = ack (m-1) 1
          ack m n = ack (m-1) (ack m (n-1))

          fib 0 = 0
          fib 1 = 1
          fib n = fib (n-1) + fib (n-2)

  // More
  section.sec-slide(data-background="#cddc39")

    h1.white.upper More soon...

  section.sec-slide(data-background="#f39c12")

    h1.white.upper Wanna know more?

  section.sec-slide

    h1.white.upper
      a(href="https://github.com/mabrasil/xzibit", target="_blank") Check it out here!
