section

  section.sec-slide(data-background="#009688")

    h1.white.upper Get ready for outstanding slides!

  section.sec-slide(data-background="#4caf50")

    h1.white.upper Get ready for

  section.sec-slide

    img(src="images/logo.png", width="700px")
