doctype html
html
  include layouts/head
  body
    .reveal
      .slides

        include ../slides/getReady
        include ../slides/definition
        include ../slides/examples

    include layouts/scripts
