// Color Palette
// (You can add your custom colors to the palette)
red     = #f44336
pink    = #e91e63
purple  = #8e44ad
indigo  = #3f51b5
blue    = #2196f3
cyan    = #00bcd4
teal    = #009688
green   = #4caf50
lime    = #cddc39
yellow  = #ffeb3b
orange  = #f39c12
brown   = #795548
grey    = #9e9e9e
silver  = #bdc3c7

// Colors to be used
primary   = teal
secondary = purple
