head

  // Title (set at config.json)
  title #{about.title}

  // Basic Metadata (set at config.json)
  meta(charset='UTF-8')
  meta(name='description' content = "#{about.description}")
  meta(name="author" content="#{about.author}")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  // Stylesheets
  link(rel="stylesheet", type="text/css", href="vendor/reveal.js/css/reveal.css")
  link(rel="stylesheet", type="text/css", href="vendor/reveal.js/lib/css/zenburn.css")
  link(rel="stylesheet", type="text/css", href="vendor/chartist/dist/chartist.min.css")
  link(rel="stylesheet", type="text/css", href="css/main.css")

  // Favicon
  link(rel="icon", type="image/png", href = "img/favicon.ico")

  // Social Metadata (set at config.json)
  include social

  // Google Analytics Tracking (set at config.json)
  include analytics
